<body>
  <div class="container">
    <div class="header clearfix sub-container">
      <h3 class="text-muted title">Funcion basica</h3>
    </div>
    <br />
    <div class="row">
      <div class="jumbotron col-lg-5">
        <div class="row marketing">
          <div class="col-4">
            <button type="button" id="btnEnceder" class="btn btn-success" (click)="basico()">iniciar</button>
          </div>
          <div class="col-8">
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-7">
        <div class="jumbotron">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tiempo</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resultado of resultados">
                <th scope="col">{{resultado.tiempo}}</th>
                <th scope="col">{{resultado.resultado}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>