<body class="nopadding">

  <div class="container">
    <div class="jumbotron row">
      <div class="col-lg-12">
        <div class="row my-auto mx-auto">
          <div class="col">
            <div class="form-group">
              <label for="txtVoltaje">Voltaje</label>
              <br>
              <input type="number" id="txtVoltaje" class="input" placeholder="Voltaje" required [(ngModel)]="voltaje">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtTs">Ts</label>
              <br>
              <input type="number" id="txtTs" class="input" placeholder="Ts" required [(ngModel)]="ts" min="1">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtTs">Referencia</label>
              <br>
              <input type="number" id="txtTs" class="input" placeholder="Referencia" required [(ngModel)]="referencia"
                min="50">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtTs">Temp Ambiente</label>
              <br>
              <input type="number" id="txtTs" class="input" placeholder="Temperatura Ambiente" required
                [(ngModel)]="tempAmbiental">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tiempo</th>
              <th scope="col">Temperatura</th>
              <th scope="col">Voltaje</th>
              <th scope="col">Error</th>
              <th scope="col">Error Estatico</th>
            </tr>
          </thead>
          <tbody>
            <th scope="col">{{tiempo}}</th>
            <th scope="col">{{temperaturaRedondeo}}</th>
            <th scope="col">{{voltajeRedondeo}}</th>
            <th scope="col">{{errorRedondeo}}</th>
            <th scope="col">{{essRedondeo}}</th>
          </tbody>
        </table>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Mp</th>
              <th scope="col">Vf</th>
              <th scope="col">Po</th>
              <th scope="col">Tss</th>
              <th scope="col">Random</th>
            </tr>
          </thead>
          <tbody>
            <th scope="col">{{mp}}</th>
            <th scope="col">{{vf}}</th>
            <th scope="col">{{po}}</th>
            <th scope="col">{{tss}}</th>
            <th scope="col">{{numberInterrupcion}}</th>
          </tbody>
        </table>
        <div class="row marketing nopadding">
          <div class="col-3">
            <button type="button" id="btnEnceder" class="btn btn-success" (click)="horno()">Iniciar - Reiniciar</button>
          </div>
          <div class="col-3">
            <button type="button" id="btnEnceder" class="btn btn-danger" (click)="apagar()">Apagar</button>
          </div>
          <div class="col-3">
            <button type="button" id="btnEnceder" class="btn btn-info" (click)="pausar()">Pausar - Reanudar</button>
          </div>
          <div class="col-3">
            <button type="button" id="btnDescargar" class="btn btn-danger" (click)="interrumpirTemp()">Pertubar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 nopadding">
      <canvas class="nopadding" [id]="titulografica"></canvas>
    </div>

    <br />

    <footer class="relative-bottom">
      <div class="jumbotron nopadding">
        <div class="row">
          <div class="col-4">
            <div class="header clearfix sub-container">
              <h2 class="text-muted title text-center">Librerias usadas: </h2>
            </div>
          </div>
          <div class="col-3">
            <div class="header clearfix sub-container">
              <h2>
                <a href="https://www.chartjs.org/" target="_blank"
                  class="text-muted title text-center text-decoration-none">Chart.js</a>
              </h2>
            </div>
          </div>
          <div class="col-3">
            <div class="header clearfix sub-container">
              <h2>
                <a href="https://sheetjs.com/" target="_blank"
                  class="text-muted title text-center text-decoration-none">SheetJS</a>
              </h2>
            </div>
          </div>
          <div class="col-2">
            <div class="header clearfix sub-container">
              <h2>
                <a href="https://getbootstrap.com/" target="_blank"
                  class="text-muted title text-center text-decoration-none">Boostrap</a>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
<router-outlet></router-outlet>